<div class="container tut font-fam1">
	  <p class=" font-fam3 suphead">Welcome To Our Guide</p>

<p class=" tuta">Navigate to the editor and select a photo. Use the <%= image_tag('text.jpg', :class => "textimg") %> icon to write your text. </p>
</div>
<div class="supimgdiv"><%= image_tag('hr18.png', :class => "tutimg") %></div>	
<br /><br />
<div class="container tut font-fam1">
<p class="font-fam3 tuth2">Font color, saving or aligning</p>	
<p class="tuta">Change your font text to white by editing the foreground this way. Align your text with the <%= image_tag('align.jpg', :class => "exportimg") %> icon or position your text by dragging the textbox. </p>
<div class="supimgdiv"><%= image_tag('hr10.png', :class => "tutimg2") %></div>
<br /><br />

<p class="tuta">Use <%= image_tag('export.jpg', :class => "exportimg") %> to save your hall. (Safari users should hold image down after export to save hall then navigate back to editor). Scroll down, select next and fill out the necessary fields to share your hall. </p> 
<br /><br />

<p class="font-fam3 tuth2">Issues</p>
<p class=" tuta">If you have trouble scrolling the editor, swipe from the head or base and scroll.</p>	
<p class=" tuta">Notice your text is truncated? leave a space above text in the textbox as seen above.</p>
<br /><br />

</div>


<% if signed_in? %>
<div><%= render 'layouts/minfooter' %></div>
<% else %> 
<% end %>