<%content_for :title, "Personal Tour"%>

<div class="container tut font-fam1">
	
<p class="tuth2">Writing Caption</p>
<p class="tuta">Go home and navigate to editor or camera. Select photo you would like to use for your hall. Tap the <%= image_tag('text.jpg', :class => "textimg") %> icon to write your caption. After writing caption, leave space above and below text to avoid text to be cut off.</p>
</div>

<div class="supimgdiv"><%= image_tag('Guidehero.png', :class => "supimg") %></div>
<br /><br />

<div class="container tut font-fam1">
<p class="tuth2">Editing</p>
<p class="tuta">Change font color to white by tapping foreground and dragging color button to the top left corner. Align your text with the <%= image_tag('align.jpg', :class => "exportimg") %> icon or adjust text position by dragging textbox. </p>
<div class="supimgdiv"><%= image_tag('color.png', :class => "supimg") %></div>
<br /><br />

<p class="tuth2">Sharing</p>	
<p class="tuta">After editing, find and tap <%= image_tag('export.jpg', :class => "exportimg") %> to export your hall. This will automatically save hall on your device. (Apple users will have to save hall manually after exporting by holding image down for a few seconds then saving. Afterwards navigate back). Scroll down, select upload and fill out necessary fields to post your hall. </p> 
<p class="tutbutton"><%= link_to "UPLOAD", "#", class: "btn btn-primary" %></p>
<br /><br />

</div>


<% if signed_in? %>
<div><%= render 'layouts/minfooter' %></div>
<% else %> 
<% end %>