<%content_for :title, "Personal Tour"%>

<div class="container tut font-fam1">
	
<p class="tuth2">Getting Started</p>
<p class="tuta">Our core values are the fundamental beliefs that guide us. They are an unwavering and unchanging guide for our lives and are the driving force behind the way we feel or act. They are what makes us different and standout from others. And they come from our passion.</p>
<br />
<p class="tuth2">Captioning</p>
<p class="tuta">(A) Navigate to editor or camera from your home, select photo you would like to use for your hall. (B) Tap the <%= image_tag('text.jpg', :class => "textimg") %> icon to write your caption. (C) After writing caption, leave space above and below text to avoid text to be cut off.</p>
<div class="supimgdiv"><%= image_tag('Guidehero.png', :class => "supimg") %></div>
<br /><br />

<p class="tuth2">Editing</p>
<p class="tuta">(D) Change font color to white by tapping foreground and dragging color button to the top left corner. (E) Align your text with the <%= image_tag('align.jpg', :class => "exportimg") %> icon or adjust text position by dragging textbox. </p>
<div class="supimgdiv"><%= image_tag('color.png', :class => "supimg") %></div>
<br /><br />

<p class="tuth2">Sharing</p>	
<p class="tuta">(F) After editing, find and tap <%= image_tag('export.jpg', :class => "exportimg") %> to export your hall. This will automatically save hall on your device. (Apple users will have to save hall manually after exporting by holding image down for a few seconds then saving. Afterwards navigate back). (G) Scroll down, select upload and fill out necessary fields to post your hall. </p> 
<p class="tutbutton"><%= link_to "UPLOAD", "#", class: "btn btn-primary" %></p>
<br /><br />

</div>


<% if signed_in? %>
<div><%= render 'layouts/minfooter' %></div>
<% else %> 
<% end %>