<%content_for :title, "Find friends and Channels you love"%>
<div class="topsrcbar">
  <div class="usindexsearch">
   <% if signed_in? %> 		
   <%= render 'shared/search' %>                
   <% end %>
  </div>
</div>

<p class="container static-search font-fam"><i class="jps glyphicon glyphicon-flag"></i> Favourites to follow</p>
<br />
<div class="container divsearch">
<% @users.each do |user| %>

<span class="font-fam">
<div class="userpartialimg"><%= image_tag user.avatar.url(:thumb), class: "img-circle" %></div>
<ul class="ul-userinfo" style="list-style-type:none">
  <li>
  <span><%= link_to user.username, user, class: "font-fam2 userpartialname" %></span>
  <% if current_user.admin? && !current_user?(user) %>
  | <%= link_to "delete", user, method: :delete,
  data: { confirm: "You sure?" } %>
  <% end %>
  
  <% if user.verify == true%>
  <img src="/assets/images/verify.png" width="10" height="10" data-toggle="tooltip" data-placement="top" title="Verified Account"/>
  <% else %>
  <% end %>
  </li>
  
  <li class="font-fam"><%= user.name %></li>
</ul>
<hr />
</span>

<% end %>
</div>


<div class="footer2"><%= render 'layouts/minfooter' %></div>
