<%content_for :title, "Favorite channels"%>
<header class="indexhead">
    <nav class="navbar navbar-default navbar-top" role="navigation">
    <div class="">
    <div class="navbar-header">
           
      <span class="navbar-brand font-fam1"><i id="pgn3" class="glyphicon glyphicon-flash"></i><%= link_to "Favorite channels", search_path, class: "hov2", id: "pgn2" %></span>

    </div>   
    </div><!-- /.container -->
    </nav>
</header>

<div class="container tpc">
<% @users.each do |user| %>

<span class="font-fam">
<div class="userpartialimg"><%= image_tag user.avatar.url(:thumb), class: "img-circle" %></div>
<ul class="ulpartial">
  <li>
  <span><%= link_to user.username, user, class: "font-fam1 userpartialname" %></span>
  <% if current_user.admin? && !current_user?(user) %>
  | <%= link_to "delete", user, method: :delete,
  data: { confirm: "You sure?" } %>
  <% end %>
  </li>
  
  <li class="font-fam"><%= user.bio %>
</li>
  
</ul>
<hr />
</span>

<% end %>
</div>

<div class="footer2"><%= render 'layouts/minfooter' %></div>
