<%content_for :title, "Support - Hallit"%>

<div class="sup-wrap">
<% if flash[:notice] -%>
<p class='container flash alert alert-info'><%=h flash[:notice] %></p>
<% end -%>
</div>

<div class="container sup-cnt">
<div class="supheada"><p class="font-fam2 supheadb">Hallit Support</p></div>
<div class="suptxta"><p class="font-fam2 suptxtb">All topics, resources and contact options you need for Hallit. </p></div>
</div>

<div class="container supwrap font-fam2">

   <div class="supflexs">
   <div class="supf1">
    <p class="supfa font-fam4">Introduction</p>
    <p class="supfP">As you know it, there's need to differentiate and separate ourselves from the noise. Therefore Halls will help us shapen our values and lifestyle which is needed in creating a better and more sustainable earth. This next generation mobile app is focused more on promoting positivity, inspiring others and ultimately making ourselves remembered.</p>	
    <div><i class="fab fa-instagram"></i></div>
    <p class="supf1b"> <%= link_to "Share your first Hall", "https://halleditor.herokuapp.com", class: "sup1b" %> </p>	
    <br />
   </div>
   </div>
		
  <div class="supflexs">	
  <div class="supf2">
    <p class="supfa font-fam4">Sponsorships</p>	
	<p class="supfP">Sponsorship comes in many forms for Hallit users. Interested third parties and companies willing to sponsor halls created by others as a form of endorsement or support should contact us directly. Offers of this type usually attract a very small fee which is usually shared between Hallit and the Account holder. </p>	
    <p>
    	<div class=""><%= image_tag('conoco.png', :class => "supbrand") %> <%= image_tag('hublot.jpg', :class => "supbrand1") %> <%= image_tag('adidas.png', :class => "supbrand1") %></div>
    	<div class="supbran"><%= image_tag('un.png', :class => "supbrand1") %> <%= image_tag('Benetton.png', :class => "supbrand") %> <%= image_tag('chanel.png', :class => "supbrand") %></div>
        <div class="supbran"><%= image_tag('nike.png', :class => "supbrand") %> </div>
    </p>	
    <br />
  </div>
  </div>

  <div class="supflexs">
  <div class="supf3">
    <p class="supfa font-fam4">Contact</p>	
    <p>Want to talk to someone? Chat us.</p>
	<p><%= link_to "Account Verification", verification_request_path, class: "sup1a" %></p>
    <p><%= link_to "Password Reset", report_path, class: "sup1a" %></p>	
	<p><%= link_to "Q&A", report_path, class: "sup1a" %></p>	
	<p><%= link_to "Fill Survey", "https://hallit.typeform.com/to/nT0RPs", class: "sup1a" %></p>	
    <br />
  </div>
  </div>
		
</div>

