<%content_for :title, "Support - Hallit"%>

<div class="sup-wrap">
 
  <div class="container sup">
  <p class=" font-fam3 suphead">Welcome To Our Support Center</p>
  <p class="font-fam1 sup2">Halls are ways of communicating our passion, stories and core values with the world inorder to differentiate ourselves and help inspire others. <span class="font-fam1"><%= link_to "Learn more", guide_path, class: "sup1a" %></span></p>
  </div>
  
  <div class="supimg"><%= image_tag('ph15.jpg', :class => "supimga") %></div>
  
  <br /> <br />

  <div class="container sup supa font-fam1">  
  	  	
  <p class="font-fam3 sup1">Account provisioning</p>
  <p class="sup2">Users will have to verify their accounts before they can be granted access to create halls. <span class="font-fam1"><%= link_to "Learn more", guide_path, class: "sup1a" %></span> </p>
  <br /><br />	  	
  	  	
  <%= image_tag('av.PNG', :class => "supimg2") %>
  <p class="sup2">To get to your profile on mobile, tap the Hallit logo when signed in.</p>
  <br /><br />

  <div class="supcirc"><p class="sup2"><span class="glyphicon glyphicon-home supcirchome"></span></p></div>
  <p class="font-fam3 sup1">Homescreen optimization</p>
  <p class="sup2">For quick navigation to Hallit from your homescreen, go to your home then proceed and add to your homescreen. </p>
  <br /><br />
  
  <%= render "contacts/form" %>
  <br /><br />

  <i class="fa fa-twitter sup-twitter"></i>
  <p class="font-fam3 sup1">Learn more about Hallit<span class="fa fa-copyright sup-copyright"></span></p>	
  <p class="font-fam1 sup3">Request support on twitter <%= link_to "@hallitservice", "https://twitter.com/hallitservice", class: "font-fam1 sup1a sup1b" %></p>
  <br />

</div>
</div>
