<%content_for :title, "Hallit | Welcome"%>
<body class="question"> 
<p id="misfnt" class="misscion">Share your values and stories with the world</p>
<br />
<div class="welimage">
<section>
<%= image_tag('70.jpg', :class => "hh") %>
<%= image_tag('53.jpg', :class => "hh") %>
<%= image_tag('wel.jpg', :class => "hh") %>
<%= image_tag('48.jpg', :class => "hh") %>
<p></p>
</section>
<section>
<%= image_tag('32.jpg', :class => "hh") %>
<%= image_tag('54.jpg', :class => "hh") %>
<%= image_tag('h1.jpg', :class => "hh") %>
<%= image_tag('69.jpg', :class => "hh") %>
<p></p>
</section>
<section>	
<%= image_tag('68.jpg', :class => "hh") %>
<%= image_tag('h7.jpg', :class => "hh") %>
<%= image_tag('20.PNG', :class => "hh") %>
<%= image_tag('35.jpg', :class => "hh") %>
</section>
</div>

<p class="welcomeoption wappbutton">
<%= link_to "Join Here", signin_path, :"data-no-turbolink" => true, :class => "ckl font-fam1 btn btn-sm btn-primary" %> 
</p>

<div class="app_footer"><%= render 'layouts/footer' %></div>

</body>