<%content_for :title, "Welcome to Hallit - Sign up"%>
<meta content="Sign up to Hallit - Create a stronger, safer and better world by sharing your passion, stories and core values with the world." name="description">

<!-- Facebook Share Code -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- End of Facebook Share Code -->

<br /><br /><br />

<div class="container lnd font-fam1">
<p class="lndh"> Hallit is a social network that allows us write captions on our photos in order to differentiate ourselves and inspire others through our passion, stories and core values for the creation of a stronger, safer and better world. </p>
</div>

<br />
	
<div class="flex-lnd scroll">
		<%= image_tag('v40.jpg', :class => "lnd-img") %>	



	<%= image_tag('v33.jpg', :class => "lnd-img") %>
		<%= image_tag('v25.jpg', :class => "lnd-img") %>
				<%= image_tag('v23.jpg', :class => "lnd-img") %>


</div>	

<br /><br />
<p class="lndh lndh2 font-fam1"> A Call to Passionate People Around the World</p>
<br />

<div class="container font-fam1">
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//herokuapp.us13.list-manage.com/subscribe/post?u=1f9e29504ef71168b10e44621&amp;id=6d6a92fbe3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1f9e29504ef71168b10e44621_6d6a92fbe3" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button font-fam1"></div>
    </div>
</form>
</div>
<br />
<p class="lndp">Get early access! Signup for our beta list and receive an email as soon as we go live.</p>
<!--End mc_embed_signup-->
	
</div>
<br />

<div class="lnd-icwrap">
<div class="lnd-icflex">
	<div class="lnd-ico"><p class="lnd-icon"><%= image_tag('cnn.png', :class => "lnd-icon lnd-icov") %></div>

<div class="lnd-ico"><p class="lnd-icon"><%= image_tag('natgeo.jpg', :class => "lnd-icon lnd-icob") %></div>
	<div class="lnd-ico"><p class="lnd-icon"><%= image_tag('forbes.png', :class => "lnd-icon lnd-icoa") %></p></div>

</div>	
</div>

<div class="lnd-icwrap">
<div class="lnd-icflex">
	
<div class="lnd-ico"><p class="lnd-icon"><%= image_tag('fortune.png', :class => "lnd-icon lnd-icoa") %></p></div>
<div class="lnd-ico"><p class="lnd-icon"><%= image_tag('wired.png', :class => "lnd-icon lnd-icob") %></div>
<div class="lnd-ico"><p class="lnd-icon"><%= image_tag('verge.png', :class => "lnd-icon lnd-icof") %></div>
	
</div>	

</div>

<ul class="container-fluid foot">
    <li><<div class="fb-share-button" data-href="https://hallit.herokuapp.com/" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fhallit.herokuapp.com%2F&amp;src=sdkpreparse">Share</a></div></li>
    <li class="standme"><a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></li>
    <li class="lnd-copyright font-fam1">Hallit <span class="glyphicon glyphicon-copyright-mark lnd-copyright"></span> 2017</li> 
</ul>
