<body class="font-fam welcomewall">
	
		<h1 class="welcomeinfo">Share your hall with the world</h1>
		
		<p class="welcomeoption">
			<%= link_to "Sign in", signin_path, :"data-no-turbolink" => true, :class => "ckl font-fam btn btn-sm btn-primary" %> 
		    <%= link_to "Sign up now", signup_path, :"data-no-turbolink" => true, :class => "ckl font-fam btn btn-sm btn-primary" %>			
		</p>
		
	  <p>
<ul class="footerul">
      <li><%= link_to "Vision", vision_path, class: "hov wfooterlnk" %></li>	
      <li><%= link_to "Help", help_path, class: "hov wfooterlnk" %></li>
      <li><%= link_to "Privacy", privacy_path, class: "hov wfooterlnk" %></li> 
      <li><%= link_to "Terms", terms_path, class: "hov wfooterlnk" %></li> 
      <li><%= link_to "Contact Us", contact_us_path, class: "hov wfooterlnk" %></li> 
      <li class="footdate">2016 Hallit</li> 
</ul>
     </p>
     
                        <div id="myCarousel"
                        class="carousel slide">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                                <div class="active item">
                                        <a href="/users/sign_up"><img src="assets/images/1.jpg"> </a>
                                </div>
                                <div class="item">
                                        <a href="/users/sign_up"><img src="assets/images/2.jpg"> </a>
                                </div>
                                <div class="item">
                                        <a href="/users/sign_up"><img src="assets/images/3.jpg"> </a>
                                </div>
                                <div class="item">
                                        <a href="/users/sign_up"><img src="assets/images/4.jpg"> </a>
                                </div>
                                <div class="item">
                                        <a href="/users/sign_up"><img src="assets/images/5.png"> </a>
                                </div>
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                </div>
      
</body>

