<%content_for :title, "Welcome to Hallit"%>

<div class="container-fluid manu"> 
<p class="font-fam5 manu2"> Creating a Stronger, Safer and Better World through our Passion and Core Values.</p>
</div>

<p class="font-fam2 manu4">What We Do?</p>
<p class="container font-fam2 manu3">We're interested in bringing out the best in you.</p>

<ul class="container-fluid manu3 manu3a font-fam2">
    <li><%= link_to "Sign in", signin_path, :class => "", "data-turbolinks": "false" %></li>
    <li"><%= link_to "Sign up", signup_path, :class => "", "data-turbolinks": "false" %></li>
</ul>

<ul class="container-fluid font-fam1 manufoot">
    <li><%= link_to "About Hallit", about_us_path, class: "hov" %></li>	
    <li><%= link_to "Support", support_path, class: "hov" %></li>	
    <li><%= link_to "Terms & Privacy", "#", class: "hov" %></li> 
    <li><span class="glyphicon glyphicon-copyright-mark copyright"></span> 2017</li> 
</ul>
