<%content_for :title, "Hallit | Welcome"%>
<div class="manuspace1"></div>
<div class="manuspace2"></div>
<div class="manuspace3"></div>
<div class="container-fluid manu"> 
	<p class="font-fam1 manu2">Share your values to create a better world.</p>
</div>

<ul class="container-fluid manu3">
    <li><%= link_to "Sign in", signin_path, :class => "font-fam1 btn btn-primary", "data-turbolinks": "false" %></li>
    <li><%= link_to "Sign up", signup_path, :class => "font-fam1 btn btn-primary", "data-turbolinks": "false" %></li>
</ul>

<ul class="container-fluid font-fam2 manu4">
    <li><%= link_to "About Us", about_path, class: "hov manu5" %></li>	
    <li><%= link_to "Terms", terms_path, class: "hov manu5" %></li>	
    <li><%= link_to "Privacy", contact_path, class: "hov manu5" %></li> 
    <li class="wfootdate font-fam2"><span class="glyphicon glyphicon-copyright-mark copyright"></span> 2017 Hallit</li> 
</ul>
