<%content_for :title, "Welcome to Hallit"%>

<div class="manuspace1"></div>
<div class="manuspace2"></div>
<div class="manuspace3"></div>
<div class="container-fluid manu"> 
	<p class="font-fam1 manu2"> Creating a stronger, safer and better world through our passion and core values.</p>
</div>

<ul class="container-fluid manu3 font-fam1">
    <li><%= link_to "Sign in", signin_path, :class => "btn btn-primary", "data-turbolinks": "false" %></li>
    <li class="manu3b"><%= link_to "Sign up", signup_path, :class => "btn btn-primary", "data-turbolinks": "false" %></li>
</ul>

<ul class="container-fluid font-fam1 manufoot">
    <li><%= link_to "About Hallit", about_us_path, class: "hov" %></li>	
    <li><%= link_to "Support", support_path, class: "hov" %></li>	
    <li><%= link_to "Terms & Privacy", "#", class: "hov" %></li> 
    <li><span class="glyphicon glyphicon-copyright-mark copyright"></span> 2017</li> 
</ul>