<body class="question">
		
<div class="triple"><img src="assets/images/02.jpg" class="coverphone" width="200px" height="200px"></div>

<p class="welcomeinfo font-fam">Share Quotes, Thoughts and Ideas with the world</p>

<p class="welcomeoption appbutton">
	<%= link_to "Sign in", signin_path, :"data-no-turbolink" => true, :class => "ckl font-fam btn btn-sm btn-primary" %> 
	<%= link_to "Sign up now", signup_path, :"data-no-turbolink" => true, :class => "ckl font-fam btn btn-sm btn-primary" %>			
</p>

<p>
<ul class="footerul">
      <li><%= link_to "Vision", vision_path, class: "hov wfooterlnk" %></li>	
      <li><%= link_to "Getting Started", getting_started_path, class: "hov wfooterlnk" %></li>
      <li><%= link_to "Support", support_path, class: "hov wfooterlnk" %></li> 
      <li class="footdate">2016 Hallit</li> 
</ul>
</p>
		
