<%content_for :title, "Hallit | Signin or Signup"%>
<body class="question"> 

<p id="misfnt" class="misscion">Share your values and stories on hallit to create a better world.</p>
<br />
<div class="welimage">
<section>
<img class="hh" src="assets/images/j/h6.jpg" data-toggle="modal" data-target="#11">
<img class="hh" src="assets/images/j/53.jpg" data-toggle="modal" data-target="#12">
<img class="hh" src="assets/images/j/h2.jpg" data-toggle="modal" data-target="#13">
<img class="hh" src="assets/images/j/48.jpg" data-toggle="modal" data-target="#14">
<p></p>
</section>
<section>
<img class="hh" src="assets/images/j/h4.jpg" data-toggle="modal" data-target="#15">
<img class="hh" src="assets/images/j/54.jpg" data-toggle="modal" data-target="#16">
<img class="hh" src="assets/images/j/h9.jpg" data-toggle="modal" data-target="#17">
<img class="hh" src="assets/images/j/69.jpg" data-toggle="modal" data-target="#18">
<p></p>
</section>
<section>	
<img class="hh" src="assets/images/j/h17.jpg" data-toggle="modal" data-target="#19">
<img class="hh" src="assets/images/j/h7.jpg" data-toggle="modal" data-target="#20">
<img class="hh" src="assets/images/j/h15.jpg" data-toggle="modal" data-target="#21">
<img class="hh" src="assets/images/j/h13.jpg" data-toggle="modal" data-target="#22">
</section>
</div>
<br />

<p class="misscion"><%= link_to "Tap Photos", note_path, :class => "tourlink", :"data-no-turbolink" => true %></p>

<p class="welcomeoption wappbutton">
<%= link_to "Sign in", signin_path, :"data-no-turbolink" => true, :class => "ckl font-fam btn btn-sm btn-primary" %> 
<%= link_to "Sign up", note_path, :"data-no-turbolink" => true, :class => "ckl font-fam btn btn-sm btn-primary" %>			
</p>

<div class="app_footer"><%= render 'layouts/footer' %></div>

<div><%= render 'shared/previewhome' %></div>

</body>