<body class="welcomewall">
	
		<h1 class="welcomeinfo">Share your story with the world</h1>
		
		<p class="welcomeoption">
			<%= link_to "Sign in", signin_path, :class => "btn btn-sm btn-primary" %> 
		    <%= link_to "Sign up now", signup_path, :class => "btn btn-sm btn-primary" %>			
		</p>
		
	  <p>
<ul class="footerul">
      <li><%= link_to "About Us", about_us_path, {:style => 'color: white;'} %></li>	
      <li><%= link_to "Help", help_path, {:style => 'color: white;'} %></li>
      <li><%= link_to "Privacy", privacy_path, {:style => 'color: white;'} %></li> 
      <li><%= link_to "Terms", terms_path, {:style => 'color: white;'} %></li> 
      <li><%= link_to "Contact Us", contact_us_path, {:style => 'color: white;'} %></li> 
      <li class="footdate">2015 Hallit</li> 
</ul>
     </p>
     
     
      
</body>

