<% provide(:title, "Sign in") %>
<p class="alert alert-error"><%= flash[:alert] %></p>
   
   <div class="container session">
   	
   	  <section class="sessionform">
      <%= form_for(:session, url: sessions_path) do |f| %>
      <p>
      <%= f.label :email, :class =>"sessionlabel" %>
      <%= f.text_field :email, :class =>"sessionfield", placeholder: "Enter email" %>
      </p>
 
      <%= f.label :password, :class =>"sessionlabel" %>
      <%= link_to "(forgot password)", new_password_reset_path %>
      <%= f.password_field :password, :class =>"sessionfield", placeholder: "Enter password" %>
      </section>
      <br />
     <p> <%= f.submit "Log in", class: "btn btn-sm btn-primary" %></p>
     
    <% end %>

    <p class="sessionlink">New user? <%= link_to "Sign up", signup_path %></p>
    
   </div>

