<head>
<% provide(:title, "Sign in to Hallit") %>
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '649866271844932'); // Insert your pixel ID here.
fbq('track', 'PageView');
fbq('track', 'AddToCart');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=649866271844932&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->
</head>

   <div class="container-fluid sess1">  	

   	  <section class="sess1a font-fam3">
      <%= form_for(:session, url: sessions_path) do |f| %>

      <p>
      <%= f.text_field :email, :class =>"sess1a1", placeholder: "Email Address" %>
      </p>
      
      <p>   
      <%= f.password_field :password, :class =>"sess1a1", placeholder: "Password" %>
      </p>
      
      <p class="font-fam3 signsess-word">Join? <%= link_to "Sign Up", signup_path, class: "sess1b1" %></p>
      </section>
     
      <br />   	
      <div class="font-fam1 blackerror"><%= flash[:alert] %></div>
      
     <p class="sessbut appbutton"><%= f.submit "SIGN IN", class: "font-fam2 btn btn-primary" %></p>
     
    <% end %>
    
   </div>

