<% provide(:title, "Log in to Hallit") %>
<div class="oval">
<div class="container" style="color: #a94442;"><%= flash[:alert] %></div>
  < <br /><br /><br /><br />
   <div class="scarcity">
   <div class="container session">  	
   	
   	  <section class="sessionform">
      <%= form_for(:session, url: sessions_path) do |f| %>
      <p class="">
     
      <%= f.text_field :email, :class =>"sessionfield font-fam1", placeholder: "Email" %>
      </p>
      <p class="font-fam2">
   
      <%= f.password_field :password, :class =>"sessionfield font-fam1", placeholder: "Password" %>
      </p>
      </section>
      <br /><br />
     <p class="appbutton "> <%= f.submit "Log in", class: "sess-butt btn-primary btn-sm font-fam1" %></p>
     
    <% end %>

    <p class="sessionlink font-fam1">Want to create a better world? <%= link_to "Create Account", signup_path, :"data-no-turbolink" => true, class: "ckl3" %></p>
    
   </div>
   </div>
   
   <p class="misscion sesswarn">Switch to your Iphone or Android Web Device!</p>
   </div>

