<% provide(:title, "Sign in to Hallit") %>

   <div class="container-fluid sess1">  	

   	  <section class="sess1a font-fam3">
      <%= form_for(:session, url: sessions_path) do |f| %>

      <p>
      <%= f.text_field :email, :class =>"sess1a1", placeholder: "Email Address" %>
      </p>
      
      <p>   
      <%= f.password_field :password, :class =>"sess1a1", placeholder: "Password" %>
      </p>
      
      <p class="font-fam3 signsess-word">Join? <%= link_to "Sign Up", signup_path, class: "sess1b1" %></p>
      </section>
     
      <br />   	
      <div class="font-fam1 blackerror"><%= flash[:alert] %></div>
      
     <p class="sessbut appbutton"><%= f.submit "SIGN IN", class: "font-fam2 btn btn-primary" %></p>
     
    <% end %>
    
   </div>

