<% provide(:title, "Log in to Hallit") %>

  <br /><br /><br /><br />
   <div class="scar">
   <div class="container sess1">  	

   	  <section class="sess1a">
      <%= form_for(:session, url: sessions_path) do |f| %>

      <p>
      <%= f.text_field :email, :class =>"font-fam1 sess1a1", placeholder: "Email" %>
      </p>
      
      <p>   
      <%= f.password_field :password, :class =>"font-fam1 sess1a1", placeholder: "Password" %>
      </p>
      </section>
     
      <br />   	
      <div class="font-fam1 blackerror"><%= flash[:alert] %></div>
      <br />
      
     <p class="appbutton"><%= f.submit "Log in", class: "font-fam1 btn btn-primary" %></p>
     
    <% end %>

    <p class="font-fam1 sess1b">Want to create a better world? <%= link_to "Create Account", signup_path, :"data-no-turbolink" => true, class: "sess1b1" %></p>
    
   </div>
   </div>
   
   <p class="switchup font-fam1">Switch to your Iphone or Android mobile device</p>
