<% provide(:title, "Hallit Verification") %>

<div class="verifyimg"><%= image_tag('desktop2.jpg', :class => "") %></div>

<p class="edthd font-fam3">Request Verification</p>

<div class="container ver vera font-fam1"> 
  <p class="ver2">We approve account types maintained by users in music, acting, fashion, government, politics, religion, journalism, media, sports, business, and other key interest areas. If you believe your account is of public interest and should be verified, send email.</p>
</div>

<div class="container-fluid contact">
<p class="far fa-envelope contacticon"></p>
<br /><br />
<%= form_for @verification do |f| %>
    <p><%= f.text_field :email, :required => true, class: "font-fam1 sess1a1 contact2", placeholder: "Email" %></p>
    <p><%= f.text_area :message, :as => :text, :required => true, class: "font-fam1 sess1a1 contact1", placeholder: "Briefly introduce yourself and tell us why this account should be verified." %></p><br />
    <div class= "hidden"><%= f.text_field :nickname, :hint => 'Leave blank!' %></div>
    <p class="smallbt appbutton"><%= f.submit 'submit', :class=> "font-fam1 btn btn-primary" %></p>
<% end %>
</div>