<% provide(:title, @user.name) %>
<div class="alert alert-error">
<%= form_for @user, :html => { :multipart => true} do |f| %>
<%= render 'shared/error_messages', object: f.object %>
</div>

 <div class="container edt"> 
 
    <p>
     <%= f.text_field :name, class: "edt1 font-fam1", placeholder: "fullname" %>
    </p>
   
    <p>
     <%= f.text_field :username, class: "edt1 font-fam1", placeholder: "username" %>
    </p>
      
    <div class="font-fam1">
      <i class="edt2"><%= f.file_field :avatar, onchange: "$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\\\|/]/).pop());" %></i>
      <p class="glyphicon glyphicon-camera edt3" data-toggle="tooltip" data-placement="top" title="Upload a avatar" onclick="$(this).parent().find('input[type=file]').click();"></p>     
    </div>
   
    <p>
      <%= f.text_field :email, class: "edt1 font-fam1", placeholder: "email" %>
    </p> 
   
    <p>
      <%= f.text_field :bio, class: "edt1 font-fam1", placeholder: "what do you do to make the world a better place?" %>
    </p>
    
    <p>
      <%= f.text_field :website, class: "edt1 font-fam1", placeholder: "website" %>
    </p>
    
    <p class="font-fam">
      <%= f.password_field :password, class: "edt1 font-fam1", placeholder: "password" %>
    </p>
    
    <p class="">
      <%= f.password_field :password_confirmation, class: "edt1 font-fam1", placeholder: "confirm password" %>
    </p>
   
   <p class="appbutton edt4 font-fam1"><%= f.submit "UPDATE", class: "font-fam1 btn btn-primary" %></p>
      
    <% end %>
    
    <br />
   <%= image_tag asset_path('assets/images/ring.gif'), class: "ldmsg" %>  
  </div>
  <br />
  <br />
<div><%= render 'layouts/minfooter' %></div>