<% provide(:title, "Edit user") %>
<div class="alert alert-error">
<%= form_for @user, :html => { :multipart => true} do |f| %>
<%= render 'shared/error_messages', object: f.object %>
</div>

 <div class="container edit"> 
			
 <h1 class="title3">Update Account</h1>
    <hr />
 
    <p>
	 <%= f.label :fullname, class: "edit-lab" %>
     <%= f.text_field :name %>
    </p>
   
    <p>
     <%= f.label :username, class: "edit-lab" %>
     <%= f.text_field :username %>
    </p>
      
    <p>
      <%= f.label :avatar, class: "edit-lab" %>
      <section class="editavi"><%= f.file_field :avatar, class: "usereditavi" %></section>
    </p>
   
    <p>
      <%= f.label :email, class: "edit-lab" %>
      <%= f.text_field :email %>
    </p> 
   
    <p>
      <%= f.label :bio, class: "edit-lab" %>
      <%= f.text_field :bio %>
    </p>
   
    <p>
      <%= f.label :password, class: "edit-lab" %>
      <%= f.password_field :password %>
    </p>
    
    <p>
      <%= f.label :password_confirmation, class: "edit-lab" %>
      <%= f.password_field :password_confirmation %>
    </p>
   
   <p><%= f.submit "Save", class: "btn btn-sm btn-primary" %></p>
      
    <% end %>
  
  </div>
  <br />
  <br />
  
<div class="footer2"><%= render 'layouts/minfooter' %></div>