<% provide(:title, "Edit user") %>

<div class="alert alert-error">
<%= form_for @user, :html => { :multipart => true} do |f| %>
<%= render 'shared/error_messages', object: f.object %>
</div>

<div id="update_box">
		
<h1 id="update">Update Account</h1>
      
      
      <%= f.label :fullname %>
      <%= f.text_field :name %>
      
      <%= f.label :username %>
      <%= f.text_field :username %>
      
      <%= f.label :avatar %>
      <span id="updatavi"><%= f.file_field :avatar %></span>

      <%= f.label :email %>
      <%= f.text_field :email %>
      
      <%= f.label :bio %>
      <%= f.text_field :bio %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <p><%= f.submit "Save", class: "btn btn-sm btn-danger" %></p>
    <% end %>
    
  </div>
  
  <div id="update_spc"></div>

<div class="app_footer"><%= render 'layouts/footer' %></div>