<header class="indexhead">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </span>
          <span id="pagename" class="navbar-brand">Update Account</span>
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         
           
           <ul class="nav navbar-nav navbar-right">
            <li>
            	<div class="search">
                <% if signed_in? %> 		
                <%= render 'shared/search' %>                
                <% end %>
                </div>
            </li>
            
            <li>
          <%= link_to new_invitation_path(current_user), :"data-no-turbolink" => true do %>
          <span class="headglyph glyphicon glyphicon-envelope"></span>
          <% end %> 
            </li>
     
            <li>
          <%= link_to edit_user_path(current_user) do %>
          <span class="headglyph glyphicon glyphicon-edit"></span>
          <% end %>    
            </li>
            
           <li> 
         <%= link_to signout_path, method: "delete" do %>
         <span class="headglyph glyphicon glyphicon-off"></span>
          <% end %>        
            </li>

      </ul>
        </div><!-- /.navbar-collapse -->    
      </div><!-- /.container -->
    </nav>
</header> 


<% provide(:title, "Edit user") %>
<div class="alert alert-error">
<%= form_for @user, :html => { :multipart => true} do |f| %>
<%= render 'shared/error_messages', object: f.object %>
</div>

 <div class="container font-fam editusr"> 
 
    <p>
	 <%= f.label :fullname, class: "edit-lab" %>
     <%= f.text_field :name, class: "edit-lab" %>
    </p>
   
    <p>
     <%= f.label :username, class: "edit-lab" %>
     <%= f.text_field :username, class: "edit-lab" %>
    </p>
      
    <p>
      <%= f.label :avatar, class: "edit-lab" %>
      <section class="editavi"><%= f.file_field :avatar, class: "usereditavi" %></section>
    </p>
   
    <p>
      <%= f.label :email, class: "edit-lab" %>
      <%= f.text_field :email, class: "edit-lab" %>
    </p> 
   
    <p>
      <%= f.label :bio, class: "edit-lab" %>
      <%= f.text_field :bio, class: "edit-lab" %>
    </p>
    
    <p>
      <%= f.label :password, class: "edit-lab" %>
      <%= f.password_field :password, class: "edit-lab" %>
    </p>
    
    <p>
      <%= f.label :password_confirmation, class: "edit-lab" %>
      <%= f.password_field :password_confirmation, class: "edit-lab" %>
    </p>
   
   <p><%= f.submit "Save", class: "edit_butt btn btn-sm btn-primary" %></p>
      
    <% end %>
    
    <br />
   <%= image_tag asset_path('assets/images/ring.gif'), class: "loaderd" %>  
  </div>
  <br />
  <br />
  
<div class="footer2"><%= render 'layouts/minfooter' %></div>