<% provide(:title, @user.name) %>
<header class="indexhead">
    <nav class="navbar navbar-default navbar-top" role="navigation">
    <div class="">
    <div class="navbar-header">
           
        <span id="pagename" class="navbar-brand font-fam">
    	   <%= link_to :back, class: "hov", :"data-no-turbolink" => true do %>	
          <span class="headglyph glyphicon glyphicon-menu-left"></span>
          <% end %> 
        </span>
        
       <span id="pagenameee" class="navbar-brand font-fam2">Settings</span>
      
      <ul class="font-fam solve  pull-right">
      	
      <li> 
          <%= link_to search_path, class: "hov" do %>	
          <span class="headglyph glyphicon glyphicon-search"></span>
          <% end %> 
      </li>
            
            
      </ul>
        </div>   
      </div><!-- /.container -->
    </nav>
</header> 

<div class="alert alert-error">
<%= form_for @user, :html => { :multipart => true} do |f| %>
<%= render 'shared/error_messages', object: f.object %>
</div>

 <div class="container editusr"> 
 
    <p class="container">
     <span class="font-fam3">Fullname</span>
     <%= f.text_field :name, class: "edit-lab font-fam1", placeholder: "fullname" %>
    </p>
   
    <p class="container">
     <span class="font-fam3">Username</span>
     <%= f.text_field :username, class: "edit-lab font-fam1", placeholder: "username" %>
    </p>
      
    <p class="container font-fam3">
      </span><span class="editavatar">Avatar</span>
      <section class="editavi"><%= f.file_field :avatar, onchange: "$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\\\|/]/).pop());" %></section>
      <p class="glyphicon glyphicon-camera editavi-input" data-toggle="tooltip" data-placement="top" title="Upload a Hall" onclick="$(this).parent().find('input[type=file]').click();"></p>     
    </p>
   
    <p class="container">
      <span class="font-fam3">Email</span>
      <%= f.text_field :email, class: "edit-lab font-fam1", placeholder: "email" %>
    </p> 
   
    <p class="container">
      <span class="font-fam3">Bio</span>
      <%= f.text_field :bio, class: "edit-lab font-fam1", placeholder: "bio" %>
    </p>
    
    <p class="container">
      <span class="font-fam3">Website</span>
      <%= f.text_field :website, class: "edit-lab font-fam1", placeholder: "website" %>
    </p>
    
    <p class="container font-fam">
     <span class="font-fam3">Password</span>
      <%= f.password_field :password, class: "edit-lab font-fam1", placeholder: "password" %>
    </p>
    
    <p class="container">
      <span class="font-fam3">Confirm password</span>
      <%= f.password_field :password_confirmation, class: "edit-lab font-fam1", placeholder: "confirm password" %>
    </p>
   
   <p class="font-fam appbutton edit_butt"><%= f.submit "UPDATE", class: "btn-primary btn-sm" %></p>
      
    <% end %>
    
    <br />
   <%= image_tag asset_path('assets/images/ring.gif'), class: "loaderd" %>  
  </div>
  <br />
  <br />
  
<div class="footer2"><%= render 'layouts/minfooter' %></div>