<% provide(:title, 'All users') %>
<header class="indexhead">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </span>
          <span id="pagename" class="navbar-brand">Users</span>
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         
           
           <ul class="font-fam nav navbar-nav navbar-right">
            <li>
            	<div class="search">
                <% if signed_in? %> 		
                <%= render 'shared/search' %>                
                <% end %>
                </div>
            </li>
            
            <li class="">
                <%= link_to "setting", edit_user_path(current_user), id: "setting" %> 
              
            </li>
            
            <li class="logout">
                 <%= link_to '<i class="glyphicon glyphicon-lock" >Logout</i>'.html_safe, signout_path, method: "delete"%> 
              
            </li>
      </ul>
        </div><!-- /.navbar-collapse -->    
      </div><!-- /.container -->
    </nav>
</header> 


<div class="container allusers">
  <%= render @users %>
</div>

<div class="pager">
   <%= will_paginate @users, :page_links => false %>
</div>

<div class="footer2"><%= render 'layouts/minfooter' %></div>