<% provide(:title, 'Sign up for Hallit') %>
<div class="nwuerror alert alert-error">
<%= form_for @user, :html => { :multipart => true} do |f| %>
<%= render 'shared/error_messages', object: f.object %>
</div>

<div class="container nwu">
     
     <section class="nwu1">
     
     <p class="font-fam">	
      <%= f.text_field :name, :class =>"nwu1a font-fam1", placeholder: "Name" %>          
     </p>
      
     <p class="font-fam">
      <%= f.text_field :email, :class =>"nwu1a font-fam1", placeholder: "Email Address" %>
     </p>
     
     <p class="font-fam">
      <%= f.text_field :username, :class =>"nwu1a font-fam1", placeholder: "Username" %>
     </p>
     
     <p class="font-fam">
      <%= f.password_field :password, :class =>"nwu1a font-fam1", placeholder: "Password" %>
     </p>

     <p class="font-fam1 appbutton"><%= f.submit "SIGN UP", class: "btn btn-primary" %></p>
     
     <% end %>
    
    <p class="font-fam1 nwu1b">By signing up, you agree with our terms.</p>
   </section>

</div>
