<head>
<% provide(:title, 'Sign up for Hallit') %>
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '649866271844932'); // Insert your pixel ID here.
fbq('track', 'PageView');
fbq('track', 'Lead');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=649866271844932&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->
</head>

<div class="nwuerror alert alert-error">
<%= form_for @user, :html => { :multipart => true} do |f| %>
<%= render 'shared/error_messages', object: f.object %>
</div>

<div class="container nwu font-fam3">
     
     <section class="nwu1">
     
     <p>	
      <%= f.text_field :name, :class =>"nwu1a", placeholder: "Name" %>          
     </p>
      
     <p>
      <%= f.text_field :email, :class =>"nwu1a", placeholder: "Email Address" %>
     </p>
     
     <p>
      <%= f.text_field :username, :class =>"nwu1a", placeholder: "Username" %>
     </p>
     
     <p>
      <%= f.password_field :password, :class =>"nwu1a", placeholder: "Password" %>
     </p>
         <p class="font-fam3 signsess-word">By signing up, you agree with our terms.</p>

     <br />
     
     <p class="font-fam2 appbutton"><%= f.submit "SIGN UP", class: "btn btn-primary" %></p>
     
     <% end %>
    
   </section>

</div>


