<% provide(:title, 'Sign up for Hallit') %>

<div class="alert alert-error">
<%= form_for @user, :html => { :multipart => true} do |f| %>
<%= render 'shared/error_messages', object: f.object %>
</div>

<div class="scarcity">
<div class="container signup">
     
     <section class="signupform">
     
     <p class="font-fam">	
      <%= f.label :fullname, :class =>"signuplabel font-fam2" %>
      <%= f.text_field :name, :class =>"signupfield font-fam1", placeholder: "Enter fullname" %>
     </p>
     
     <p class="font-fam">
      <%= f.label :username, :class =>"signuplabel font-fam2" %>
      <%= f.text_field :username, :class =>"signupfield font-fam1", placeholder: "Enter username" %>
     </p>
     
     <p class="font-fam">
      <%= f.label :email, :class =>"signuplabel font-fam2" %>
      <%= f.text_field :email, :class =>"signupfield font-fam1", placeholder: "Enter email" %>
     </p>
     
     <p class="font-fam">
      <%= f.label :password, :class =>"signuplabel font-fam2" %>
      <%= f.password_field :password, :class =>"signupfield font-fam1", placeholder: "Enter password" %>
     </p>

    <br />
     <p class="font-fam appbutton"><%= f.submit "Create Account", class: "btn-primary btn-sm" %></p>
    <% end %>
    
    <p class="font-fam">By signing up, you agree to the Terms of Service and Privacy Policy.</p>
   </section>

</div>
</div>

<p class="misscion sesswarn">Switch to your Iphone or Android Web Device!</p>

<br />
<br />

