<% provide(:title, 'Sign up for Hallit') %>
<div class="nwuerror alert alert-error">
<%= form_for @user, :html => { :multipart => true} do |f| %>
<%= render 'shared/error_messages', object: f.object %>
</div>

<div class="container nwu  font-fam1">
     
     <section class="nwu1">
     
     <p>	
      <%= f.text_field :name, :class =>"nwu1a", placeholder: "Name" %>          
     </p>
      
     <p>
      <%= f.text_field :email, :class =>"nwu1a", placeholder: "Email Address" %>
     </p>
     
     <p>
      <%= f.text_field :username, :class =>"nwu1a", placeholder: "Username" %>
     </p>
     
     <p>
      <%= f.password_field :password, :class =>"nwu1a", placeholder: "Password" %>
     </p>
     
     <br />
     
     <p class="font-fam1 appbutton"><%= f.submit "SIGN UP", class: "btn btn-primary" %></p>
     
     <% end %>
    
   </section>

</div>

    <p class="font-fam1 signsess-word">By signing up, you agree with our terms.</p>

