<% provide(:title, 'Sign up for Hallit') %>
<br /><br />
<div class="alert alert-error">
<%= form_for @user, :html => { :multipart => true} do |f| %>
<%= render 'shared/error_messages', object: f.object %>
</div>

<div class="scarcity oval">
<div class="container signup">
     
     <section class="signupform">
     
     <p class="font-fam">	
      <%= f.text_field :name, :class =>"signupfield font-fam1", placeholder: "Fullname" %>
     </p>
     <br />
     <p class="font-fam">
      <%= f.text_field :username, :class =>"signupfield font-fam1", placeholder: "Username" %>
     </p>
     <br />
     <p class="font-fam">
      <%= f.text_field :email, :class =>"signupfield font-fam1", placeholder: "Email" %>
     </p>
     <br />
     <p class="font-fam">
      <%= f.password_field :password, :class =>"signupfield font-fam1", placeholder: "Password" %>
     </p>

    <br />
     <p class="font-fam1 appbutton"><%= f.submit "Create Account", class: "btn-primary btn-sm" %></p>
    <% end %>
    
    <p class="font-fam1">By signing up, you agree with our terms.</p>
   </section>

</div>
</div>

<p class="misscion sesswarn">Switch to your Iphone or Android Web Device!</p>

<br />
<br />
<br />
<div class="app_footer"><%= render 'layouts/footer' %></div>
