<% provide(:title, 'Sign up') %>

<div class="alert alert-error">
<%= form_for @user, :html => { :multipart => true} do |f| %>
<%= render 'shared/error_messages', object: f.object %>
</div>

<div class="container font-fam signup">
     
     <section class="signupform">
     
     <p>	
      <%= f.label :fullname, :class =>"signuplabel" %>
      <%= f.text_field :name, :class =>"signupfield", placeholder: "Enter fullname" %>
     </p>
     
     <p>
      <%= f.label :username, :class =>"signuplabel" %>
      <%= f.text_field :username, :class =>"signupfield", placeholder: "Enter username" %>
     </p>
     
     <p>
      <%= f.label :email, :class =>"signuplabel" %>
      <%= f.text_field :email, :class =>"signupfield", placeholder: "Enter email" %>
     </p>
     
     <p>
      <%= f.label :password, :class =>"signuplabel" %>
      <%= f.password_field :password, :class =>"signupfield", placeholder: "Enter password" %>
     </p>

    <br />
     <p><%= f.submit "Create Account", class: "btn btn-sm btn-primary" %></p>
    <% end %>
   </section>
   <img src="assets/images/beta.png"><span style="font-size:11px;"> 1.0</span>
</div>

<br />
<br />

