<% provide(:title, @user.name) %>

<header class="indexhead">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
           
  <span id="pagename" class="navbar-brand">
          	  
    <section class="profile_h" "dropdown"><%= image_tag @user.avatar(:thumb), class: "img-circle" %>	
			 
	<span class="dropdown" >
		 
    <span class="font-fam dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= @user.username %><span class="caret"></span>
    </span>
    <ul class="dropdown-menu">
     <li><%= link_to pluralize(@user.microposts.count, "Hall"), @user, {:style => 'color: #428bca; font-family: ralewayregular; font-weight: normal; font-size: 13px;'} %></li>
     <li>
       <%= link_to new_invitation_path(current_user), :"data-no-turbolink" => true do %>
       <span class="glyphicon glyphicon-envelope"></span>Invite
       <% end %> 
     </li>
     <li class="font-fam"><a href="<%= following_user_path(@user) %>"><%= @user.followed_users.count %> subscribed</a></li>
     <li class="font-fam"><a href="<%= followers_user_path(@user) %>"><%= @user.followers.count %> subscribers</a></li>
    </ul>

    </span>

    </section>
          	
  </span>
      
           <ul class="font-fam solve  pull-right">
            
            <li>
          <%= link_to new_invitation_path(current_user), :"data-no-turbolink" => true do %>
          <span class="headglyph glyphicon glyphicon-eye-open"></span>
          <% end %> 
            </li>
     
            <li>
          <%= link_to edit_user_path(current_user), :"data-no-turbolink" => true do %>
          <span class="headglyph glyphicon glyphicon-edit"></span>
          <% end %>    
            </li>
            
           <li> 
         <%= link_to signout_path, method: "delete" do %>
         <span class="headglyph glyphicon glyphicon-off"></span>
          <% end %>        
            </li>
      </ul>
        </div>   
      </div><!-- /.container -->
    </nav>
</header> 


<p class="userinfo1"><%= @user.name %>
<% if @user.verify == true%>
<span><img src="/assets/images/ver.png" width="25" height="25" data-toggle="tooltip" data-placement="top" title="Verified Account"/></span>
<% else %>
<% end %>	
</p> 
<p class="userinfo2"><%= @user.bio %></p>

<div class="container userpost">
	<hr />
 <section class="font-fam subscribe-btn"><%= render 'follow_form' if signed_in? %></section>
   <% if @user.microposts.any? %>
      <%= render @microposts %>
   <% else %>   
      <div class="font-fam nohall">Yet to Upload a Hall</p>
      	
 <div id="myCarousel" class="carousel slide">
   <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
            	<%= image_tag asset_path('assets/images/1.jpg') %>
           
            </div>
            <div class="item">
               <a href="/users/sign_up"><img src="assets/images/2.jpg"> </a>
            </div>
            <div class="item">
               <a href="/users/sign_up"><img src="assets/images/3.jpg"> </a>
            </div>
            <div class="item">
               <a href="/users/sign_up"><img src="assets/images/4.jpg"> </a>
            </div>
            <div class="item">
               <a href="/users/sign_up"><img src="assets/images/5.png"> </a>
            </div>
          </div>
      <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
       </div> 	
      	
   <% end %>
      </div>
   <div class="pager">
   <%= will_paginate @microposts, :page_links => false %>
   </div>
<br />
<br />
</div>
<div class="footer2"><%= render 'layouts/minfooter' %></div>