<% provide(:title, @user.name) %>
<div class="headwrap">
<div class="headflex">
	
<div class="heads head1">        
  <span class="navbar-brand">
          	  
    <section class="ush1 dropdown"><%= image_tag @user.avatar(:thumb), class: "img-circle" %>	
			 
	<span class="dropdown">
		 
    <span class="font-fam5 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span id="pgn2"><%= @user.username %></span><span class="caret"></span>
    </span>
    <ul class="dropdown-menu font-fam2">
     
     <li><%= link_to pluralize(@user.microposts.length, "Hall"), @user %></li>
     <li><a href="<%= following_user_path(@user) %>"><%= pluralize(@user.followed_users.count, "Following") %></a></li>
     <li><a href="<%= followers_user_path(@user) %>"><%= pluralize(@user.followers.count, "Follower") %></a></li>
    
    </ul>

    </span>

    </section>
          	
  </span>
</div>
  
<div class="heads head2">
    <% if current_user?(@user) %>
    <%= link_to edit_user_path(current_user), class: "hov", "data-turbolinks": "false" do %>	
    <span class="midhdglyph fa fa-steam" aria-hidden="true"></span>
    <% end %> 
    <% end %> 
</div>
	
</div>
</div>


<p class="font-fam5 ush3"><%= @user.name.titleize %>
<% if @user.verify == true %>
<span><%= image_tag('Verification1.jpg', :class => "verify", "data-toggle"=>"modal", "data-placement"=>"top", "title"=>"Verified Account") %></span>
<% else %>
<% end %>	
</p> 
<p class="font-fam2 ush4"><%= @user.bio %></p>
<p class="font-fam2 ush4"><%=auto_link(@user.website, :html => { :target => '_blank' }) %></p>
<div class="ush5">
<hr class="container"/>
<section class="font-fam2 ush6"><%= render 'follow_form' if signed_in? %></section>
 
<% if @user.microposts.any? %>

<div class="ush-micropartial">
<%= render @microposts %>
</div>

<% elsif current_user == @user %>
<div class="font-fam1 ush7">No hall yet!
<% else %>    
<% end %>
</div>
</div>

<div class="pager">
<%= will_paginate @microposts, :page_links => false %>
</div>

<div><%= render 'layouts/minfooter' %></div>