<div class="container">
<%= form_for @user do |f| %>
<br /><br />
    <p>
    <%= f.label "Verify" %> <br />
    <%= f.check_box :verify, class: "vfy" %> <br />
    </p>
   
    <p>
    <%= f.password_field :password, class: "edt1" %>
    </p>
    
    <p>
    <%= f.password_field :password_confirmation, class: "edt1" %>
    </p>
   <p><%= f.submit "Save"%></p>
      
    <% end %>
    
</div>