
	<div class="feedhouse">
		
    <section class="feediteminfo">
    <%=(image_tag feed_item.user.avatar.url(:mini), class: "img-circle") %>
    <%= link_to feed_item.user.username, feed_item.user, class: "hov feedusern"  %>
    <span class="font-fam feedtime"><%= time_ago_in_words(feed_item.created_at) %> ago</span>
    <span><img src="/assets/images/ver.png" width="25" height="25" data-toggle="tooltip" data-placement="top" title="Verified Account"/></span>
    </section>
   
  	<div class="puffin">
    <span id="<%= feed_item.id %>"> 
	<div class="puffauto">
  	<%= link_to (image_tag feed_item.photo.url(:medium), class: "img-responsive"), feed_item, :"data-no-turbolink" => true %>
  	</div>
  	</div>
		
    </div>
    
    <section class="container contentlength">
    <p class="font-fam feedlikeicon">
    <span class="glyphicon glyphicon-heart"></span> <%= pluralize(feed_item.likes.count, "like") %>
  	</p>		
    <% if feed_item.content.length > 1 %>
  	<span class="app_a_link font-fam"><%= auto_link(truncate(feed_item.content, length: 24), :html => { :target => '_blank' }) %></span>
  	<% else %>
  	<span class="app_a_link font-fam"><%= auto_link(feed_item.content, :html => { :target => '_blank' }) %></span>
  	<% end %>
<span class="postauthor">
<i>
   	<% if feed_item.author? %>
    - <%= feed_item.author %>
    <% else %>
    <% end %>  
</i>
</span>   	
    </section>

    <section class="container contentlength2">
    <p class="font-fam feedlikeicon">
    <span class="glyphicon glyphicon-heart"></span> <%= pluralize(feed_item.likes.count, "like") %>
  	</p>		
    <% if feed_item.content.length > 1 %>
  	<span class="app_a_link font-fam"><%= auto_link(truncate(feed_item.content, length: 24), :html => { :target => '_blank' }) %></span>
  	<% else %>
  	<span class="app_a_link font-fam"><%= auto_link(feed_item.content, :html => { :target => '_blank' }) %>             
  	<% end %>
  	
<span class="postauthor">
<i>
   	<% if feed_item.author? %>
    - <%= feed_item.author %>
    <% else %>
    <% end %> 
</i>	    
</span> 
    </section>
