	<div class="fd">
		
    <section class="fdinfo1">
    <%=(image_tag feed_item.user.avatar.url(:thumb), class: "img-circle") %>
    <%= link_to feed_item.user.username, feed_item.user, class: "font-fam1 hov fdusern"  %>
	</section>
    
    <section class="fdinfo2">
    <%=(image_tag feed_item.user.avatar.url(:thumb), class: "img-circle") %>
    <%= link_to feed_item.user.username, feed_item.user, class: "font-fam1 hov fdusern"  %>
    </section>

  	<div class="fdimg">
    <span id="<%= feed_item.id %>"> 
	<div class="fdimg1">
  	<%= link_to (image_tag feed_item.photo.url(:instag), class: "img-responsive"), micropost_path(feed_item), :"data-no-turbolink" => true %>
  	</div>
  	</div>
		
    </div>
    
    <section class="container fdcontent1">
    <p class="font-fam1 fdlikeicon">
    <span class="glyphicon glyphicon-heart"></span> <%= pluralize(feed_item.likes.count, "") %>
  	</p>		
    <% if feed_item.content.length > 1 %>
  	<span class="blacklink font-fam2"><%= auto_link(truncate(feed_item.content, length: 65), :html => { :target => '_blank' }) %></span>
  	<% else %>
  	<span class="blacklink font-fam2"><%= auto_link(feed_item.content, :html => { :target => '_blank' }) %></span>
  	<% end %>
        <span class="font-fam5 fdtime"><%= time_ago_in_words(feed_item.created_at) %> ago
          	<%= link_to (image_tag feed_item.ad1.url(:thumb)), micropost_path(feed_item), class: "advert", :"data-no-turbolink" => true %>	
        </span>

<div><hr /></div>   	
    </section>

    <section class="container fdcontent2">
    <p class="font-fam1 fdlikeicon">
    <span class="glyphicon glyphicon-heart"></span> <%= pluralize(feed_item.likes.count, "") %>
  	</p>		
    <% if feed_item.content.length > 1 %>
  	<span class="blacklink font-fam2"><%= auto_link(truncate(feed_item.content, length: 65), :html => { :target => '_blank' }) %></span>
  	<% else %>
  	<span class="blacklink font-fam2"><%= auto_link(feed_item.content, :html => { :target => '_blank' }) %>        
  	<% end %>
  <span class="font-fam5 fdtime"><%= time_ago_in_words(feed_item.created_at) %> ago
  	 <div class="advert"><%= link_to (image_tag feed_item.ad1.url(:thumb)), micropost_path(feed_item), class: "advert", :"data-no-turbolink" => true %></div>
  </span>      
  	
<section><hr /></section> 
</section>

