   <div id="you">
    <span class="user">
      <%= link_to (image_tag feed_item.user.avatar.url(:mini)), feed_item.user %>
    </span><span id="avih"><%= link_to feed_item.user.username, feed_item.user, {:style => 'color: grey; font-weight: bold; font-family: Helvetica; font-size: 13px;'} %></span>
    <br />
    
    </div>
    <span class="timestamp">
      <%= time_ago_in_words(feed_item.created_at) %> ago
    </span>
    
  
  <p id="<%= feed_item.id %>">
    
    <div id="gg"><%= link_to (image_tag feed_item.photo.url(:normal)), feed_item %></div>
    <span id="content"><div style="word-wrap: break-word;"><%= feed_item.content %></div> <br />
    	<div id="fcl"><%= pluralize(feed_item.comments.count, "comment") %> 
        <%= pluralize(feed_item.likes.count, "like") %></div>
        
    	<hr width="489px" /></span>
    <p id="he">hehe</p>
</p>
