<%= form_for(@micropost, multipart: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

<div id="field">
    <div id="no-photo">
    <%= f.file_field :photo %> 
    </div>
  <p>
  <%= f.text_area :content, :class =>"ar", placeholder: "Write Details..." %>
  </p>
  <p>
    <%= f.label :author %>
    <%= f.text_field :author %>
  </p>
</div>
  
  
  
 <p id="submitbt"> <%= f.submit "Hall", class: "btn btn-sm btn-primary" %></p>
 
<% end %>
