<%= form_for(@micropost, multipart: true) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<div class="container micropostform">
<div class="micropostformcontent">

	<hr />
  <div class="formphoto">
   <%= f.file_field :photo %> 
  </div>

  <p>
   <%= f.text_area :content, :class =>"formcontent", placeholder: "Describe Hall..." %>
  </p>
  
  <p>
   <%= f.text_field :author, :class =>"formauthor", placeholder: "Author" %>
  </p>
  
  <p> 
   <%= f.submit "Share to subscribers", class: "btn btn-sm btn-primary" %>
  </p>
  
<% end %>

<br />
<br />
</div>
</div>