 <%= image_tag current_user.avatar(:thumb) %>
  <%= current_user.name %></p>
  <p class="info" id="usernameinfo"><%= current_user.username %></p>
  <p class="info"><%= current_user.bio %></p>
 

  
<span>
 <%= link_to "view my profile", current_user %>
</span>

<span>
  <%= pluralize(current_user.microposts.count, "Quote") %>
</span>

