
<br /><br /><br />
<div align="center">
  <h3>Send A message to Us</h3>

  <%= form_for @request, :html => {:multipart => true} do |f| %>
    <%= f.text_field :name, :required => true %>
    <%= f.text_field :email, :required => true %>
    <%= f.text_field :message, :as => :text, :required => true %>
    <div class= "hidden">
      <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.submit 'Send message', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>