<%content_for :title, "Invite | Hallit"%>
<header class="indexhead">
    <nav class="navbar navbar-default navbar-top" role="navigation">
    <div class="">
    <div class="navbar-header">
           
      <span class="navbar-brand font-fam1"><%= link_to "Share with friend", new_invitation_path, class: "hov2", id: "pgn2" %></span>

    </div>   
    </div><!-- /.container -->
    </nav>
</header>
<% if flash[:notice] -%>
  <p class='container flash alert alert-warning'><%=h flash[:notice] %></p>
<% end -%>

<div class="container font-fam1 inv">		

<div class="inv1">
<%= form_for @invitation, :html => { :multipart => true} do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<p class="font-fam1"><%= f.text_field :recipient_email, class: "inv1a", placeholder: "Enter email" %></p>
<br />

<p class="font-fam1 appbutton inv1b"><%= f.submit "Send", class: "ldbt" %></p>

<% end %>
</div>
</div>
<br /><br />

<p class="ldcenter"><%= image_tag asset_path('assets/images/spin1.gif'), :class => "ldmsg" %></p>

<div><%= render 'layouts/minfooter' %></div>


