<% if flash[:notice] -%>
  <p class='container kkkkk alert alert-warning'><%=h flash[:notice] %></p>
<% end -%>

<div class="container invite font-fam">	
<section class="betainvite"> Beta Invite</section>	

<div class="invite-form">
<%= form_for @invitation, :html => { :multipart => true} do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<p class="font-fam"><%= f.text_field :recipient_email, placeholder: "Enter email" %></p>

<p class="font-fam"><%= f.submit "Invite!", class: "loadbut btn btn-sm btn-danger" %></p>

<% end %>
</div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br />

<p style="text-align:center;"><%= image_tag asset_path('assets/images/spin1.gif'), :class => "loaderd" %></p>
<div class="footer2"><%= render 'layouts/minfooter' %></div>