<div class="container invite font-fam">
	
<section class="betainvite"> Beta Invite</section>	

<div class="invite-form">
<%= form_for @invitation, :html => { :multipart => true} do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<p><%= f.text_field :recipient_email, placeholder: "Enter email" %></p>

<p><%= f.submit "Invite!", class: "btn btn-sm btn-danger" %></p>

<% end %>
</div>
<% if current_user.invitation_limit > 0 %>
<p>(<%= current_user.invitation_limit.to_i %> left)</p>
<% else %>
<% end %>

</div>
<div class="footer2"><%= render 'layouts/minfooter' %></div>