<%content_for :title, "Invite | Hallit"%>
<header class="indexhead">
    <nav class="navbar navbar-default navbar-top" role="navigation">
    <div class="">
    <div class="navbar-header">
           
      <span id="pagename2" class="navbar-brand font-fam">Invitation</span>

    </div>   
    </div><!-- /.container -->
    </nav>
</header>
<% if flash[:notice] -%>
  <p class='container kkkkk alert alert-warning'><%=h flash[:notice] %></p>
<% end -%>

<div class="container invite font-fam1">		

<div class="invite-form">
<%= form_for @invitation, :html => { :multipart => true} do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<p class="font-fam1"><%= f.text_field :recipient_email, class: "invite-fill", placeholder: "Enter email" %></p>
<br />

<p class="appbutton font-fam invitebt"><%= f.submit "Send", class: "loadbut" %></p>

<% end %>
</div>
</div>
<br /><br />

<p style="text-align:center;"><%= image_tag asset_path('assets/images/spin1.gif'), :class => "loaderd" %></p>
<div class="footer2"><%= render 'layouts/minfooter' %></div>