<%content_for :title, "Explore Halls"%>
<header class="indexhead">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="">
    <div class="navbar-header">
           
    <span id="pagename" class="navbar-brand font-fam2">Leaderboard</span>
      
           <ul class="font-fam solve  pull-right">
           	
       <li> 
          <%= link_to search_path, class: "hov", :"data-no-turbolink" => true do %>	
          <span class="headglyph glyphicon glyphicon-search"></span>
          <% end %> 
       </li>
       
      </ul>
        </div>   
      </div><!-- /.container -->
    </nav>
</header>
<br />


<div class="container leadercenter"> 
	
<div class="verticalLine"></div>
<% @microposts.each do |micropost| %>
<div >
<div class="leadphoto">	
<%= image_tag micropost.user.avatar(:thumb) %>
<%= link_to micropost.user.username, micropost.user, class: "hov microusrn" %>  
<%= link_to (image_tag micropost.photo.url(:square), class: "img-responsive"), micropost %></div>
</div>
  
  
<% end %>  
</div>
 



 <div class="container pager">
   <%= will_paginate @microposts, :page_links => false %>
 </div>

 <div class="footer2"><%= render 'layouts/minfooter' %></div>