<%content_for :title, "Award"%>
<header class="indexhead">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="">
    <div class="navbar-header">
           
    <span id="pagename" class="navbar-brand font-fam2">Award</span>
      
           <ul class="font-fam solve  pull-right">
           	
       <li> 
          <%= link_to search_path, class: "hov", :"data-no-turbolink" => true do %>	
          <span class="headglyph glyphicon glyphicon-search"></span>
          <% end %> 
       </li>
       
      </ul>
        </div>   
      </div><!-- /.container -->
    </nav>
</header>
<br />

<div class="leadflag"><p class="glyphicon glyphicon-flag"></p></div>
<div class="leadercenter"> 
<br />
<% @microposts.each do |micropost| %>

<div class="leaddetail">	
<%= image_tag micropost.user.avatar(:thumb), class: "leadthumb img-circle" %>
<%= link_to micropost.user.username, micropost.user, class: "hov leadname" %>
<% if micropost.user.verify == true%>
<img src="/assets/images/verify.png" width="10" height="10" data-toggle="tooltip" data-placement="top" title="Verified Account"/>
<% else %>
<% end %>  
<p><%= link_to (image_tag micropost.photo.url(:square), class: "leadphoto"), micropost %>
<section class="leadlikes"><span class="glyphicon glyphicon-heart"></span><%= pluralize(micropost.likes.count, "") %></section> 	
</p>
</div>
<br /><br /><br /><br />  
<% end %>  
</div>
 
 <div class="footer2"><%= render 'layouts/minfooter' %></div>