<header class="indexhead">

<link rel="stylesheet" href="/css/imglykit-night-ui.css" />
<script src="/js/imglykit.js"></script>
<div id="container"></div> <!-- /.imgkit-div -->
<br /><br /><br />

<%= form_for @micropost, :html => { :multipart => true} do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<div class="container micropostform">
<div class="micropostformcontent">

  <section class="formphoto">
   <section><%= f.file_field :photo, onchange: "$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\\\|/]/).pop());" %></section> 
  </section>
  
  <p class="glyphicon glyphicon-camera newhall-input" data-toggle="tooltip" data-placement="top" title="Upload a Hall" onclick="$(this).parent().find('input[type=file]').click();"></p>

  <p>
   <%= f.text_area :content, :class =>"formcontent font-fam", placeholder: "Describe Hall..." %>
  </p>
  
  <p>
   <%= f.text_field :author, :class =>"formauthor font-fam", placeholder: "Author" %>
  </p>
  
  <p class="appbutton"> 
   <%= f.submit "Hall", class: "loadbut btn btn-sm btn-primary font-fam" %>
  </p>
  
 <% end %>
<br />
<br />
<br />
<section style="text-align:center;">
<p class="pleasewait font-fam">Please wait...</p>	
</section>
  
<br />
<br />
</div>
</div>

<br /><br /><br /><br />
<div class="footer2"><%= render 'layouts/minfooter' %></div>