<header class="indexhead">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="">
    <div class="navbar-header">
           
    <span id="pagename" class="navbar-brand font-fam">New Hall</span>
      
           <ul class="font-fam solve  pull-right">
            
           <li>
           <%= link_to search_path, class: "hov", :"data-no-turbolink" => true do %>	
          <span class="headglyph glyphicon glyphicon-eye-open"></span>
          <% end %>  
            </li>
     
            <li>
          <%= link_to edit_user_path(current_user), class: "hov", :"data-no-turbolink" => true do %>
          <span class="headglyph glyphicon glyphicon-edit"></span>
          <% end %>    
            </li>
            
           <li> 
         <%= link_to signout_path, class: "hov", method: "delete" do %>
         <span class="headglyph glyphicon glyphicon-off"></span>
          <% end %>        
            </li>
      </ul>
        </div>   
      </div><!-- /.container -->
    </nav>
</header>

<link rel="stylesheet" href="/css/imglykit-night-ui.css" />
<script src="/js/imglykit.js"></script>
<div id="container"></div> <!-- /.imgkit-div -->
<br /><br /><br />

<%= form_for @micropost, :html => { :multipart => true} do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<div class="container micropostform">
<div class="micropostformcontent">

  <section class="formphoto">
   <section><%= f.file_field :photo, onchange: "$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\\\|/]/).pop());" %></section> 
  </section>
  
  <p class="glyphicon glyphicon-camera newhall-input" data-toggle="tooltip" data-placement="top" title="Upload a Hall" onclick="$(this).parent().find('input[type=file]').click();"></p>

  <p>
   <%= f.text_area :content, :class =>"formcontent font-fam", placeholder: "Describe Hall..." %>
  </p>
  
  <p>
   <%= f.text_field :author, :class =>"formauthor font-fam", placeholder: "Author" %>
  </p>
  
  <p class="appbutton"> 
   <%= f.submit "Hall", class: "loadbut btn btn-sm btn-primary font-fam" %>
  </p>
  
 <% end %>
<br />
<br />
<br />
<section style="text-align:center;">
<p class="pleasewait font-fam">Please wait...</p>	
</section>
  
<br />
<br />
</div>
</div>

<br /><br /><br /><br />
<div class="footer2"><%= render 'layouts/minfooter' %></div>