<%content_for :title, "Create Hall | New Hall"%>
<p class="font-fam1 nhallhead"><%= link_to "How to Make Hall?", howtomakeahall_path, class: "nlearnhall", :"data-no-turbolink" => true %></p>

    <link rel="stylesheet" href="/assets/imglykit-night-ui.css" />
    <script src="/assets/imglykit2.js"></script>

<div id="container"></div>  <!--  imgly kit container in micropost new to edit picture before upload -->



<%= form_for @micropost, :html => { :multipart => true} do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<div class="container micropostform">
<div class="micropostformcontent">

  <section class="formphoto">
   <section><%= f.file_field :photo, onchange: "$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\\\|/]/).pop());" %></section> 
  </section>
  
  <p class="glyphicon glyphicon-retweet newhall-input" data-toggle="tooltip" data-placement="top" title="Upload a Hall" onclick="$(this).parent().find('input[type=file]').click();"></p>

  <p>
   <%= f.text_area :content, :class =>"formcontent font-fam", placeholder: "Share story..." %>
  </p>
  
  <p>
   <%= f.text_field :author, :class =>"formauthor font-fam", placeholder: "Place author if using someone's quote" %>
  </p>
  
  <p class="appbutton"> 
   <%= f.submit "Hall", class: "loadbut btn btn-sm btn-primary font-fam" %>
  </p>
  
 <% end %>
<br />
<br />
<br />
<section style="text-align:center;">
<p style="text-align:center;"><%= image_tag('loading.gif', :class => "loaderdd") %></p>
</section>
  
<br />
<br />
</div>
</div>


