<%content_for :title, "Share Hall"%>
<br /><br /><br />
<%= form_for @micropost, :html => {:multipart => true, :id => "nform"} do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<div class="font-fam1 container nmcp">
<div class="nmcp1">

  <section class="nmcp1a">
   <section><%= f.file_field :photo, onchange: "$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\\\|/]/).pop());" %></section> 
  </section>
  
  <p class="glyphicon glyphicon-cloud nmcp1b" data-toggle="tooltip" data-placement="top" title="Upload a Hall" onclick="$(this).parent().find('input[type=file]').click();"></p>
    
  <p class="nmcp1ba">Tap cloud and select hall</p>

  <p>
   <%= f.text_area :content, :class =>"font-fam1 nmcp1c", placeholder: "Write more" %>
  </p>

 <br /> 
 <p class="appbutton"><%= f.submit "Share", class: "nmcp1d btn btn-primary" %></p>
  
 <% end %>
<br />

  
<br />
<br />
</div>
</div>
 
<div><%= render 'layouts/minfooter' %></div
