<div class="micropostshow">	
	<%= notice %>
<div class="container posttime"> <%= time_ago_in_words(@micropost.created_at)%> ago</div>   
 	<%= image_tag @micropost.photo.url(:normal) %>  
   
    <div class="container">
    <%= render "shared/microusrn" %><%= @micropost.content %> (<%= @micropost.author %>)
    <% if current_user?(@micropost.user) %>
    <%= link_to "delete", @micropost, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: @micropost.content %>                              
  <% end %>
    <div>

    
</div>

<div class="microviews">  
	
<span class="glyphicon glyphicon-comment"></span><%= pluralize(@micropost.comments.count, "") %> </span>
<span class="glyphicon glyphicon-heart"></span><%= pluralize(@micropost.likes.count, "") %>
<%= link_to 'view all likes', like_path, {:style => 'color: black;'} %>

</div>

<hr />
<section id="comments-section">
  <%= render @micropost.comments %> 

  <%= render "comments/form" %>


  <% if like = current_user.likes.find_by_micropost_id(@micropost.id) %>
                
 <% else %>
  <%= render "likes/form" %>
  <% end %>
</section>  

</div>
</div>
<div class="footer2"><%= render 'layouts/minfooter' %></div>