<% if flash[:notice] -%>
<p class='container kkkkk alert alert-info'><%=h flash[:notice] %></p>
<% end -%>

<div class="micropostshow">	
<div class="container posttime"> <%= time_ago_in_words(@micropost.created_at)%> ago</div>
 	<section class="post-img"><%= image_tag @micropost.photo.url(:normal) %></section>
   
   <div class="container">
    
   <section class="showmicrocontent">
   	<%= render "shared/microusrn" %>
   <span class="showcontentsize"><%= @micropost.content %></span>
   <span class="postauthor">
<i>  	
   	<% if @micropost.author? %>
    - <%= @micropost.author %>
    <% else %>
    <% end %>  
</i> 
   </span> 
    <% if current_user?(@micropost.user) %>
    <%= link_to "Delete", @micropost, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: @micropost.content %>                              
   <% end %>

  
<div class="microviews">  
	
<span class="glyphicon glyphicon-comment"></span><span class="shocmmcou"><%= pluralize(@micropost.comments.count, "") %> </span>
<span class="glyphicon glyphicon-heart"></span><span class="sholikecou"><%= pluralize(@micropost.likes.count, "") %> </span>
<%= link_to 'All Likes', like_path %> 

</div>

<section class="carousel_ad">
<section class="loll">
<section id="carousel">
	
 <div id="buttons">
  <a href="#" id="prev">prev</a>
  <a href="#" id="next">next</a>
 </div>
    
 <div id="slides"> 
  <ul>
   <li><img src="/assets/images/mtn.png" width="40" height="40" alt="Slide 1"/></li>
   <li><img src="/assets/images/dstv-logo.png" width="50" height="40" alt="Slide 2"/></li>
   <li><img src="/assets/images/total.png" width="40" height="40" alt="Slide 3"/></li>
   <li><img src="/assets/images/dstv.jpg" width="40" height="40" alt="Slide 4"/></li>
  </ul>
 </div>
    
</section>
</section>


<section class="loll">
<section id="carousel">
	
 <div id="buttons">
  <a href="#" id="prev">prev</a>
  <a href="#" id="next">next</a>
 </div>
    
 <div id="sliders"> 
  <ul>
   <li><img src="/assets/images/mtn.png" width="40" height="40" alt="Slide 1"/></li>	
   <li><img src="/assets/images/dstv-logo.png" width="40" height="40" alt="Slide 2"/></li>	
   <li><img src="/assets/images/dstv.jpg" width="40" height="40" alt="Slide 3"/></li>
   <li><img src="/assets/images/total.png" width="40" height="40" alt="Slide 4"/></li>
  </ul>
 </div>
 
</section>
</section>
</section>



<hr />
<section id="comments-section">
<section class="ddd"><%= render @micropost.comments %></section>

<%= render "comments/form" %> 

<section class="micro_like_form">
<%= render "likes/likebutton" %> 
</section>  

</section>  

</div>
</div>
</section>
<br />
<br />

<div class="footer2"><%= render 'layouts/minfooter' %></div>