<header class="indexhead">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="">
    <div class="navbar-header">
           
    <span id="pagename" class="navbar-brand font-fam">
    	   <%= link_to :back, class: "hov", :"data-no-turbolink" => true do %>	
          <span class="headglyph glyphicon glyphicon-menu-left"></span>
          <% end %> 
    </span>
      <span id="pagenameee" class="navbar-brand font-fam"><%= time_ago_in_words(@micropost.created_at)%> ago</span>
           <ul class="font-fam solve  pull-right">
            
           <li> 
             <% if current_user?(@micropost.user) %>
    <%= link_to @micropost, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: @micropost.content, class: "hov ckl2 apptrash" do %>
                                     <span class="glyphicon glyphicon-trash"></span>             
                                     <% end %>                              
   <% end %>        
           </li>
      </ul>
        </div>   
      </div><!-- /.container -->
    </nav>
</header> 

<div class="micropostshow">	

 	<section class="post-img"><%= image_tag @micropost.photo.url(:instag), class: "img-responsive" %></section>
   
   <div class="container">
    
   <section class="showmicrocontent">
   	<%= render "shared/microusrn" %><span><img src="/assets/images/ver.png" width="25" height="25" data-toggle="tooltip" data-placement="top" title="Verified Account"/></span>
   <span class="showcontentsize app_a_link"><%= auto_link(@micropost.content, :html => { :target => '_blank' }) %></span>
   <span class="postauthor">
<i>  	
   	<% if @micropost.author? %>
    - <%= @micropost.author %>
    <% else %>
    <% end %>  
</i> 
   </span> 

<br /><br />
  
<div class="microviews">  
	
<span class="glyphicon glyphicon-comment"></span><span class="shocmmcou"><%= pluralize(@micropost.comments.count, "") %> </span>
<span class="glyphicon glyphicon-heart"></span><span class="sholikecou"><%= pluralize(@micropost.likes.count, "") %> </span>
<%= link_to 'View likes', like_path, class: "hov ckl2 font-fam" %> 

</div>

<section class="carousel_ad">
<section class="loll">
<section id="carousel">
	
 <div id="buttons">
  <a href="#" id="prev">prev</a>
  <a href="#" id="next">next</a>
 </div>
    
 <div id="slides"> 
  <ul>
   <li><img src="/assets/images/dstt.jpg" width="55" height="40" alt="Slide 1"/></li>
   <li><img src="/assets/images/mtn.png" width="40" height="40" alt="Slide 2"/></li>
   <li><img src="/assets/images/chevys.png" width="40" height="40" alt="Slide 3"/></li>
   <li><img src="/assets/images/batk.png" width="50" height="40" alt="Slide 4"/></li>
  </ul>
 </div>
    
</section>
</section>


<section class="loll">
<section id="carousel">
	
 <div id="buttons">
  <a href="#" id="prev">prev</a>
  <a href="#" id="next">next</a>
 </div>
    
 <div id="sliders"> 
  <ul>
   <li><img src="/assets/images/nike-s.jpg" width="50" height="40" alt="Slide 1"/></li>	
   <li><img src="/assets/images/access.png" width="60" height="40" alt="Slide 2"/></li>	
   <li><img src="/assets/images/cono.png" width="50" height="40" alt="Slide 3"/></li>
   <li><img src="/assets/images/total.png" width="40" height="40" alt="Slide 4"/></li>
  </ul>
 </div>
 
</section>
</section>
</section>

<hr />

<section id="">
<section class="ddd"><%= render @micropost.comments %></section>

<%= render "comments/form" %> 

<section class="micro_like_form">

<%= render "likes/likebutton" %> 
</section>  

</section>  

</div>
</div>
</section>
<br />
<br />
<br />

<div class="footer2"><%= render 'layouts/minfooter' %></div>