<% provide(:title, @micropost.user.name) %>
<body class="overflowdisable">
<header class="indexhead">
    <nav class="navbar navbar-default navbar-top" role="navigation">
    <div class="">
    <div class="navbar-header">
           
    <span class="navbar-brand font-fam">
    	  <%= link_to :back, class: "hov" do %>	
          <span class="backheadglyph1 glyphicon glyphicon-menu-left"></span>
          <% end %> 
    </span>
      <span id="pagename1" class="navbar-brand font-fam1"><%= time_ago_in_words(@micropost.created_at)%> ago</span>
           
           <ul class="font-fam solve pull-right">
           <li> 
             <% if current_user?(@micropost.user) %>
             <%= link_to @micropost, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: @micropost.content, class: "hov ckl2 apptrash" do %>
                                     <span class="midheadglyph glyphicon glyphicon-trash"></span>             
                                     <% end %>                              
                                     <% end %>        
           </li>
           </ul>
        </div>   
      </div><!-- /.container -->
    </nav>
</header> 

<div class="micropostshow">	

 	<section class="post-img"><%= image_tag @micropost.photo.url(:instag), class: "img-responsive" %></section>
   
   <div class="container">
    
   <section class="showmicrocontent">
   	<%= render "shared/microusrn" %>
   <span class="showcontentsize app_a_link"><%= auto_link(@micropost.content, :html => { :target => '_blank' }) %></span>
   <span class="postauthor">
<i>  	
   	<% if @micropost.author? %>
    - <%= @micropost.author %>
    <% else %>
    <% end %>  
</i> 
   </span> 

<br /><br />
  
<div class="microviews">  
<span class="glyphicon glyphicon-heart"></span><span class="font-fam1"><%= pluralize(@micropost.likes.count, "") %> </span>	
<span class="glyphicon glyphicon-comment"></span><span class="font-fam1"><%= pluralize(@micropost.comments.count, "") %> </span>

</div>

<section class="carousel_ad">
<section class="loll">
<section id="carousel">
	
 <div id="buttons">
  <a href="#" id="prev">prev</a>
  <a href="#" id="next">next</a>
 </div>
    
 <div id="slides"> 
  <ul>
   <li><img src="/assets/supreme.png" width="55" height="40" alt="Slide 1"/></li>
   <li><img src="/assets/diamond.png" width="40" height="40" alt="Slide 2"/></li>
   <li><img src="/assets/ps.png" width="40" height="40" alt="Slide 3"/></li>
   <li><img src="/assets/h4.jpg" width="50" height="40" alt="Slide 4"/></li>
  </ul>
 </div>
    
</section>
</section>


<section class="loll">
<section id="carousel">
	
 <div id="buttons">
  <a href="#" id="prev">prev</a>
  <a href="#" id="next">next</a>
 </div>
    
 <div id="sliders"> 
  <ul>
   <li><img src="/assets/obey.png" width="50" height="40" alt="Slide 1"/></li>	
   <li><img src="/assets/gap.png" width="50" height="40" alt="Slide 2"/></li>	
   <li><img src="/assets/visa.png" width="50" height="40" alt="Slide 3"/></li>
   <li><img src="/assets/h8.jpg" width="40" height="40" alt="Slide 4"/></li>
  </ul>
 </div>
 
</section>
</section>
</section>


<section id="">
<section class="ddd"><%= render @comments %></section>
<br />
<%= render "comments/form" %> 

<section class="micro_like_form">

<%= render "likes/likebutton" %> 
</section>  

</section>  

</div>
</div>
</section>

</body>