<div class="micropostshow">	
	<%= notice %>
<div class="container posttime"> <%= time_ago_in_words(@micropost.created_at)%> ago</div>
 	<section class="post-img"><%= image_tag @micropost.photo.url(:normal) %></section>
   
   <div class="container">
    
   <section class="showmicrocontent">
   	<%= render "shared/microusrn" %>
    <%= @micropost.content %>
   <span class="postauthor">
   	<% if @micropost.author? %>
 - <%= @micropost.author %>
    <% else %>
<% end %>  
   </span> 
    <% if current_user?(@micropost.user) %>
    <%= link_to "Delete", @micropost, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: @micropost.content %>                              
   <% end %>

  
<div class="microviews">  
	
<span class="glyphicon glyphicon-comment"></span><span class="shocmmcou"><%= pluralize(@micropost.comments.count, "") %> </span>
<span class="glyphicon glyphicon-heart"></span><%= pluralize(@micropost.likes.count, "") %>
<%= link_to 'All Likes', like_path %>
  

</div>

<hr />
<section id="comments-section">
<section class="ddd"><%= render @micropost.comments %></section>

<%= render "comments/form" %> 

<section class="micro_like_form">
<% if like = current_user.likes.find_by_micropost_id(@micropost.id) %>
<%= form_for like, :html => { :method => :delete } do |f| %>
<%= button_tag "", type: 'submit', class: "btn btn-default glyphicon glyphicon-heart-empty" %>
<% end %>      
<% else %>
<%= render "likes/form" %>
<% end %>  	
</section>  

</section>  

</div>
</div>
</section>
<br />
<br />

<div class="footer2"><%= render 'layouts/minfooter' %></div>