<%content_for :title, "Activities"%>
<header class="indexhead">
    <nav class="navbar navbar-default navbar-top" role="navigation">
    <div class="">
    <div class="navbar-header">
    <span class="font-fam">
        <%= link_to :back, class: "navbar-brand hov" do %>	
        <span class="backheadglyph1 glyphicon glyphicon-menu-left"></span>
        <% end %> 
    </span>
      <span id="pgn1" class="navbar-brand font-fam2">
      	<%= link_to "Following", activities_path, class: "hov2", id: "pgn2" %>
      </span>

    </div>   
    </div><!-- /.container -->
    </nav>
</header>

<div class="font-fam1 container atv">

<% if @activities.any? %>
<% @activities.each do |activity| %>

 <div>
   	<%= render_activity activity %>
   	    
 </div>	
 
 
 <% end %>

 <div class="pager"><%= will_paginate @activities, :page_links => false %></div>

 <% else %>
    
    <div class="atv1">
     <p class="font-fam1">Follow a channel to get activities</p>
    </div>

 <% end %></div>

<div><%= render 'layouts/minfooter' %></div>