<header class="indexhead">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="">
    <div class="navbar-header">
           
    <span id="pagename" class="navbar-brand font-fam">Activity</span>
      
           <ul class="font-fam solve  pull-right">
            
           <li>
           <%= link_to current_user do %>
           <span class="headglyph glyphicon glyphicon-user"></span>
           <% end %>
            </li>
     
            <li>
          <%= link_to edit_user_path(current_user), class: "hov", :"data-no-turbolink" => true do %>
          <span class="headglyph glyphicon glyphicon-edit"></span>
          <% end %>    
            </li>
            
           <li> 
         <%= link_to signout_path, class: "hov", method: "delete" do %>
         <span class="headglyph glyphicon glyphicon-off"></span>
          <% end %>        
            </li>
      </ul>
        </div>   
      </div><!-- /.container -->
    </nav>
</header> 
	
<br />
<div class="font-fam container">

<% if @activities.any? %>
<% @activities.each do |activity| %>

 <div>
   	<%= link_to activity.owner.username, activity.owner if activity.owner %>
   	<%= render_activity activity %>    
 </div>	
 
 <br />
 
 <% end %>
    <div class="pager"><%= will_paginate @activities, :page_links => false %></div>


 <% else %>
    
    <div class="noactivity">
     <p class="font-fam">No Activity Yet!</p>
     <p class="font-fam">Subscribe To a Channel To Get Activities</p>
    </div>

 <% end %></div>

<div class="footer2"><%= render 'layouts/minfooter' %></div>