<footer class="footer">
  
  
  
    <ul id="au">
      <li><%= link_to "About Us",   about_us_path %></li>
      <li><%= link_to "Jobs", jobs_path %></li>
      <li><%= link_to "Privacy", privacy_path %></li> 
      <li><%= link_to "Terms", terms_path %></li> 
      <li><%= link_to "Contact Us", contact_us_path %></li> 
      <li>2014 Hallit</li> 
    </ul>

  

</footer>