<p class="font-fam footer">
	
    <ul class="footerul">
      <li><%= link_to "Vision", vision_path, class: "hov footerlnk" %></li>	
      <li><%= link_to "Help", help_path, class: "hov footerlnk" %></li>
      <li><%= link_to "Privacy", privacy_path, class: "hov footerlnk" %></li> 
      <li><%= link_to "Terms", terms_path, class: "hov footerlnk" %></li> 
      <li><%= link_to "Contact Us", contact_us_path, class: "hov footerlnk" %></li> 
      <li class="footdate">2016 Hallit</li> 
    </ul>

</p>