<p class="font-fam footer">
	
    <ul class="footerul">
      <li><%= link_to "About Us", about_us_path, {:style => 'color: black'} %></li>	
      <li><%= link_to "Help", help_path, {:style => 'color: black;'} %></li>
      <li><%= link_to "Privacy", privacy_path, {:style => 'color: black;'} %></li> 
      <li><%= link_to "Terms", terms_path, {:style => 'color: black;'} %></li> 
      <li><%= link_to "Contact Us", contact_us_path, {:style => 'color: black;'} %></li> 
      <li class="footdate">2016 Hallit</li> 
    </ul>

</p>