      <nav class="navbar navbar-incr navbar-default navbar-fixed-top defaultnavbar" role="navigation">
      <div class="">
        <% if signed_in? %>
        <div class="navbar-header">
       <span class="" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle collapsed"><%= image_tag('Hallit.jpg', :class => "hdimg hd-incr") %></span>
                	
       <li class="font-fam pull-right visible-xs-block"> 
          <%= link_to "https://sayian.herokuapp.com" do %> <span class="midhdglyph midhdcam fab fa-instagram" aria-hidden="true"></span><% end %> 
       </li>    
      
        </div>  
                <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="font-fam1 nav navbar-nav navbar-right">
            	<li><%= link_to current_user do %><%= render "shared/useravi" %><% end %></li>
            	<li class="hidden-xs">
                <%= link_to "https://sayian.herokuapp.com" do %> <span class="midhdglyph2 midhdcam2 fab fa-instagram" aria-hidden="true"></span> <% end %> </li>
                <li class="hdfas"><%= link_to support_path do %> <span class="midhdglyph2 midhdcam2 fas fa-plug" aria-hidden="true"></span> <% end %> </li>
                <li class="hdfas"><%= link_to signout_path, method: "delete" do %> <span class="midhdglyph2 midhdcam2 fas fa-power-off" aria-hidden="true"></span> <% end %> </li>
            </ul>
                </div>
          
        <% else %>       
           <div class="navbar-header"><section><%= link_to (image_tag('Hallit.jpg', :class => "hdimg hd-incr")), welcome_path %></section></div>
        <% end %>
      </div><!-- /.container -->
    </nav>
