<div class="minfooter">
   	
       <span class="minf">
       <%= link_to home_path do %>
       <span class="glyphicon glyphicon-home"></span>
       <% end %>
       </span>
       
       <span class="minf">
       <%= link_to current_user do %>
       <span class="glyphicon glyphicon-user"></span>
       <% end %>
       </span>
       
       <span class="minf">
       <%= link_to new_hall_path do %>
       <span class="glyphicon glyphicon-cloud-upload"></span>
       <% end %>
       </span>
       
       <span class="minf">
       <%= link_to activities_path do %>
       <span class="glyphicon glyphicon-thumbs-up"></span>
       <% end %>
       </span>
       
       <span class="minf">
       <%= link_to halls_path do %>
       <span class="glyphicon glyphicon-globe"></span>
       <% end %>
       </span>
       	
</div>








