<div class="minfooter">
  <p class="ddffs">
   		
       <span class="minf">
        <a href="/home"><i class="glyphicon glyphicon-home"></i></a>
       </span>
       
       <span class="minf">
        <a href="/halls"><i class="jps glyphicon glyphicon-cloud"></i></a>
       </span>
         
       <span class="minf">
       	<a href="/new/hall", data-no-turbolink="true"><i class="glyphicon glyphicon-camera"></i></a>
       </span>
      
       <span class="minf">
        <a href="/activities"><i class="glyphicon glyphicon-leaf"></i></a>
       </span> 
       
       
       <section class="hfilter dropup"> 
	   <div class="dropup">
		 
       <span class="font-fam dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= render "shared/useravi" %> 
       </span>
    
       <ul class="dropdown-menu pull-right font-fam">
        <li class="hfilt">
        <%= link_to current_user do %>
        <span class="glyphicon glyphicon-user"></span><span class="font-fam1"> Profile</span>
        <% end %>
        </li>
             
        <li class="hfilt font-fam">
        <%= link_to edit_user_path(current_user), class: "hov", :"data-no-turbolink" => true do %>
        <span class="glyphicon glyphicon-wrench"></span><span class="font-fam1"> Settings</span>
        <% end %>	
        </li>
                                     
        <li class="hfilt">
        <%= link_to new_invitation_path, class: "hov" do %>
        <span class="glyphicon glyphicon-send"></span><span class="font-fam1"> Invite someone</span>
        <% end %>
        </li> 
    
        <li class="hfilt">
        <%= link_to guide_path, class: "hov" do %>
        <span class="glyphicon glyphicon-info-sign"></span><span class="font-fam1"> Feeling lost?</span>
        <% end %>
        </li>
      
        <li class="hfilt">
        <%= link_to signout_path, class: "hov", method: "delete" do %>
        <span class="glyphicon glyphicon-off"></span><span class="font-fam1"> Logout</span>
        <% end %>
        </li>  
       </ul>


       </div>
       </section>
 
  </p>  	
</div>







