<div class="minfooter">
   	
       <span class="minf">
       <%= link_to home_path do %>
       <span class="glyphicon glyphicon-home"></span>
       <% end %>
       </span>
       
       <span class="minf">
       <%= link_to current_user do %>
       <span class="glyphicon glyphicon-user"></span>
       <% end %>
       </span>
       
       <span class="minf">
       <%= link_to new_micropost_path do %>
       <span class="glyphicon glyphicon-cloud-upload"></span>
       <% end %>
       </span>
       
       <span class="minf">
       <%= link_to activities_path do %>
       <span class="glyphicon glyphicon-hand-right"></span>
       <% end %>
       </span>
       
       <span class="minf">
       <%= link_to edit_user_path(current_user) do %>
       <span class="glyphicon glyphicon-cog"></span>
       <% end %>
       </span>
       	
</div>








