<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <%= favicon_link_tag 'favicon5.ico' %>
    <link rel="apple-touch-icon" href="/apple-touch-icon-20.png" />
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": 'reload' %>                                                      
    <%= javascript_include_tag "application", "data-turbolinks-track": 'reload' %>
    <%= csrf_meta_tags %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>      
    <script src="https://use.fontawesome.com/2b403aab31.js"></script>
    
    
<%content_for :title, "Welcome to Hallit - Sign up"%>
<meta content="Sign up to Hallit - Create a stronger, safer and better world by sharing your passion, stories and core values with the world." name="description">

<!-- Facebook Share Code -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- End of Facebook Share Code -->

    
  <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '396900824038629'); // Insert your pixel ID here.
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"src="https://www.facebook.com/tr?id=396900824038629&ev=PageView&noscript=1"/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->


<!-- Google Analytic Code -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80539095-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- End of Google Analytic Code -->

</head>

<body class="splashbody">
  	
<nav class="navbar navbar-incr navbar-default navbar-fixed-top splashnavbar" role="navigation">
<div class="">   
    <div class="navbar-header"><section><%= link_to (image_tag('Hallit.jpg', :class => "hdimg hd-incr")), welcome_path %></section></div>
    </div>
</nav>

<br /><br /><br />

<div class="container lnd font-fam1">
<p class="lndh"> Hallit is a social network that wants you to share your passion, stories and core values with others in order to create a better world. </p>
</div>

<br />
	
<div class="flex-lnd scroll">
	<%= image_tag('v52.png', :class => "lnd-img") %>
	<%= image_tag('v109.png', :class => "lnd-img") %>
	<%= image_tag('v103.png', :class => "lnd-img") %>
	<%= image_tag('v115.png', :class => "lnd-img") %>
</div>	

<br /><br /><br /><br /><br /><br />
<ul class="lndu">
	<li><span class="lndh font-fam1"><%= link_to "Goto App", "https://hallit.herokuapp.com/welcometohallit", :target => '_blank', class: "lndpa uop" %></span></li>
    <li><span id="" class="lndh font-fam1"><%= link_to "Fill Survey", "https://hallit.typeform.com/to/nT0RPs", class: "lndpa" %></span></li>
</ul>

</body>
</html>